<div>
  <form>
    <label>Who is the bill from?</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Restaurant Name" ng-model="$ctrl.newBill">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addName()">Add</button>
      </span>
    </p>
  </form>

<div class="container">
  <div class="row">
    <div class="col-lg-8" ng-repeat="item in $ctrl.Bill"></div>
    <div class="col-lg-4" ng-repeat="itemAmount in $ctrl.Bill"></div>
    </div>
  </div>



