<h1>Upload bill</h1>
<div>
        <form ng-submit="addbillinfo()">
            <label>Who is the bill from?<br></label>
            <input type="text" name="restaurant-name" ng-model="name" placeholder="Restaurant Name"><br>
            <label>Before tips<br></label>
            <input type="number" string-to-number step="any" name="priceBeforeTip" ng-model="priceBeforeTip" required><br>
            <label>Tax</label>
            <input type="number" string-to-number step="any" name="tax" ng-model="tax">
            <label>Tip rate or number<br></label>
            <input type="number" string-to-number step="any" name="tipRate" ng-model="tipRate" placeholder="%"> or 
            <input type="number" string-to-number step="any" name="tipnum" ng-model="tipnum" placeholder="$"><br>
            <input type="submit" value="Submit">
            <!-- <label>Upload bill image<br></label> -->
            <!-- <input my-upload type="file" name="upload"><br> -->
        </form>

        <form ng-submit="additeminfo()">
            <label>Add item and price</label><br>
            <input type="text" name="item" ng-model="item" placeholder="item">
            <input type="number" string-to-number step="any" name="price" ng-model="price" placeholder="price">
            <input type="submit" value="Add">
        </form>

        <div ng-if="items.length>0">
        <table>
            <tr>
                <th>count(need a better name)</th>
                <th>item</th>
                <th>price</th>
            </tr>
            <tr ng-repeat="singleitem in items" ng-click="removeitem(singleitem)">
                <td>{{singleitem[0]}}</td>
                <td>{{singleitem[1]}}</td>
                <td>{{singleitem[2]}}</td>
            </tr>
        </table>       
        </div>

        <a ng-click="addBill()" href="#!/addfriend">Next</a>

<!-- the following is for pre -->
<div ng-if="name">
    {{name}}
    {{priceBeforeTip}}
    {{tipRate}}
    {{taxRate}}
    {{tipnum}}
    {{readyToSplit}}
</div>

<!-- the following is for uploading bill image -->

<!-- 
        <img ng-if="$ctrl.image" src="{{$ctrl.image}}" alt="" class="billimg">
        <button ng-if="$ctrl.image" ng-click="$ctrl.removeimg()">{{$ctrl.cancel}}</button>
        <button ng-if="$ctrl.image" ng-click="$ctrl.process()" >{{$ctrl.next}}</button> 
-->

</div>