<h1>Split the bill</h1>
<div>
	<ul class="eachFriend">
		<li ng-repeat="friend in friends">
			<h2>{{friend.name}}</h2>
			<h3>Total: {{friend.total}}</h3>
<!-- 			<form>
				<label>Add item and price</label>
				<input type="text" name="itemname">
				<input type="text" name="itemprice">
			</form> -->
			<div class="itemlist">
				<table>
					<tr>tip: {{friend.tip}}</tr>
					<tr ng-repeat="item in items" ng-click="checkAssign(item, friend)">
						<td>{{item[0]}}</td>
						<td>{{item[1]}}</td>
						<td>{{item[2]}}</td>
						<td>{{item[3]}}</td>
					</tr>
				</table>
			</div>
		</li>
	</ul>
</div>
<div>
<br>
<br>
{{bill}}<br>
<br>
{{friends}}<br>
<br>
{{assigneditems}}
</div>