/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


label {
	padding: 5px 15px 5px 5px;
}

table {
	margin-top: 25px;
	margin-bottom: 15px;
}

h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
	padding-left: 45px;
	padding-right: 45px;
}

.price-for-friend > li {
  display: inline;
}

li {
  list-style: none;
}

#signin, #signup{
  width: 400px;
}
.addHPadding {
  padding-left: 45px;
  padding-right: 45px;
}
.addVPadding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hcenter {
  margin-left:auto;
  margin-right:auto; 
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spacer {
  margin: 0;
  padding: 0;
  height: 50px;
}