.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.logo {
  clear: left;
}

button .receipt {
  height: 50px;
  margin-left: 0px !important;
  text-align: center;
}

.spacer {
  height: 20px;
}

span .btn {
  width: 100%;
  align-content: center;
}

